<section>
    <h3>{{title}}</h3>
</section>

<section>
    {{#if admin}}
        <a href=/manage><button>ManageDb</button></a>
    {{/if}}
</section>


<section>
    <input id="search" type="text" placeholder="Search here...">
    <button onclick="search();">SEARCH</button>
    <br><br>

    <table class="users" cellpadding="10">
        <tr>
            <td align="left">NAME</td>
            <td align="center">AVAILABLE</td>
        </tr>
        {{# if admin}}
            {{#each movies}}
                {{#if owned}}
                    <tr>
                        <td align="left">{{name}}</td>
                        <td align="center">{{available}}</td>
                        <td align="center">
                            <form action="/manage/rent" method="post"><button name="movie" value="{{name}}" onclick="toggleOwned('{{name}}');">Rent</button></form>
                        </td>
                    </tr>
                {{/if}}
            {{/each}}
        {{else}}
            {{#each movies}}
                {{#if owned}}
                    <tr>
                        <td align="left">{{name}}</td>
                        <td align="center">{{available}}</td>
                    </tr>
                {{/if}}
            {{/each}}
        {{/if}}
    </table>
</section>

<script>
    function search() {
        let val = $('#search').val().trim();

        if (val && val.length > 2) {
            window.location = '/find/' + val;
        }
        else {
            alertify.alert('Hey!', 'Please type a minimum of 3 characters into the search field!', null);
        }
    }
</script>
