<section>
    <h3>{{title}}</h3>
</section>


<section>
    <input id="search" type="text" placeholder="Search here...">
    <button onclick="search();">SEARCH</button>
    <br><br>

    <table class="users" cellpadding="10">
        <tr>
            <td align="left">NAME</td>
            <td align="left">ID</td>
            <td align="center">OWNED</td>
        </tr>

        {{#each movies}}
            <tr>
                <td align="left">{{name}}</td>
                <td align="center">{{ID}}</td>
                <td align="center">{{owned}}</td>
                <td align="center">
                <form action="/manage/update" method="post"><button name="movie" value="{{name}}" onclick="toggleOwned('{{name}}');">Add/Remove</button></form></td>
            </tr>
        {{/each}}
    </table>
</section>

<script>
    function search() {
        let val = $('#search').val().trim();

        if (val && val.length > 2) {
            window.location = '/manage/find/' + val;
        }
        else {
            alertify.alert('Hey!', 'Please type a minimum of 3 characters into the search field!', null);
        }
    }
    function toggleOwned(name) {
        //console.log('toggled');
        //console.log(name); //passed movie name as param
        //how to forward this info to the router? need to create a new post request

    }
</script>
